// SASS: nesting, var in mixins, functions

// font, color, background, containers
// [Kevin Powell Media Queries](https://www.youtube.com/watch?v=BvB8kSmgMcM)
@mixin theme($primary-color: #c5e3ec, $font-color: #d4d4d4, $font-size: 1rem) {
  background: $primary-color;
  color: $font-color;
  font-size: $font-size;
}

@mixin grid-layout($height, $rows: 1fr, $cols: 1fr) {
  height: $height;
  display: grid;
  grid-template: $rows / $cols;
}

@mixin flex-layout($height) {
}

html,
body {
  height: 100vh;
  height: 100svh; //stays the same percentage no matter what
  margin: 0;
}

#app {
  @include grid-layout($height: 100%, $rows: 1fr 5fr);
  .app-header {
    @include theme(#f1f1f1);
    .app-header__logo {
    }
    .app-header__searchbar {
    }
  }
  .app-main {
    @include theme();
  }
}
// pale blue as the primary color and light gray as the accent color.
