// SASS: nesting, var in mixins, functions
$base-color: rgb(77 153 231);
// font, color, background, containers
// [Kevin Powell Media Queries](https://www.youtube.com/watch?v=BvB8kSmgMcM)
@mixin theme($primary-color: $base-color, $font-color: #333, $font-size: 1rem) {
  background: $primary-color;
  color: $font-color;
  font-size: $font-size;
}

@mixin grid-layout($height, $rows: repeat(12, 1fr), $cols: repeat(12, 1fr)) {
  height: $height;
  display: grid;
  grid-template: $rows / $cols;
}

@mixin flex-layout(
  $height,
  $flex-direction: row,
  $flex-wrap: nowrap,
  $align-content: normal,
  $justify-content: normal,
  $align-items: normal
) {
  height: $height;
  display: flex;
  flex-flow: $flex-direction $flex-wrap;
  align-content: $align-content;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin background(
  $color: $base-color,
  $image: $image,
  $repeat: no-repeat,
  $size: cover,
  $position: top,
  $border-radius: 1rem 1rem 0rem 0rem,
  $box-shadow: 0 0 1rem whitesmoke
) {
  background: $color $image $repeat $position;
  background-size: $size;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

html,
body {
  height: 100vh;
  height: 100svh; //stays the same percentage no matter what
  margin: 0;
}

#app {
  @include theme($base-color);
  @include grid-layout($height: 100%);

  .app-header {
    @include theme(#f1f1f1);
    grid-area: 1/1 / span 2 / span 12;

    @include flex-layout(96%, $justify-content: center, $align-items: center);

    border-radius: 0px 0px 1rem 1rem;
    box-shadow: 0 0 1rem #333;

    &__logo {
      height: inherit;
    }
    &__time-input {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 0.5em;
    }
  }
  .app-main {
    @include theme();
    grid-area: 3/1 / span 10 / span 12;

    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);

    &__text {
      grid-area: 1/1 / span 4 / span 12;
    }
    &__map {
      grid-area: 1/1 / span 4 / span 12;
      margin: 1rem;
      border-radius: 1rem;
    }
    &__flights {
      grid-area: 5/1 / span 8 / span 12;
      display: flex;
      flex-direction: column;
      overflow: auto;
      background: transparent;
      box-shadow: 1px 0 1rem white;
      border-radius: 1rem 1rem 0rem 0rem;
      margin: 0rem 1rem;

      // [Animated Collapsible](https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible_symbol)

      .flight__summary--collapsible {
        @include theme(#e7e7e7);
        width: 100%;
        border: none;
        padding: 1rem;
        border-bottom: 1px solid #d4d4d4;
      }

      .active,
      .flight__summary--collapsible:hover {
        @include theme(#d4d4d4);
      }

      .flight__summary--collapsible:after {
        content: "\002B";
        font-weight: bold;
        float: right;
      }

      .active:after {
        content: "\2212";
        font-weight: bold;
        float: right;
      }

      .flight__details {
        @include theme(#f1f1f1);
        padding: 0.5rem;
        display: flex;
        grid-template: 1fr/1fr 11fr;
        flex-direction: column;
        align-items: center;

        [id^="flight__detail"] {
          display: flex;
          gap: 1rem;
        }
      }
      .hide {
        display: none;
      }
    }
    @include background($image: url(/assets/bg.avif));
    margin: 1rem;
    .app-main__text {
      padding: 0rem 2rem;
    }

    .app-main__flights--hidden {
      visibility: hidden;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #app {
    .app-header {
      font-size: 1.5rem;
      justify-content: center;

      &__logo {
        height: 8rem;
      }
    }
    .app-main__flights {
      grid-area: 5/1 / span 8 / span 12;
    }
    .app-main__text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      p {
        font-size: 1.5rem;
        visibility: hidden;
      }
    }

    #time-input__input-value {
      height: 1.5rem;
    }
  }
}

// /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #app {
    .app-main__flights {
      grid-area: 5/1 / span 7 / span 12;
      flex-wrap: wrap;
      .app-main__flight {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

// /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #app {
    .app-header {
      margin: 0rem 1rem;
      justify-content: space-around;
    }
    .app-main__flights {
      flex-wrap: nowrap;

      grid-area: 2/6 / span 10 / span 7;
    }
    .app-main__map {
      grid-area: 2/1 / span 10 / span 5;
    }
    .app-main__text {
      grid-area: 2/1 / span 10 / span 5;
      h1,
      h2,
      h3,
      p {
        font-size: 1.5rem;
        visibility: visible;
      }
    }
  }
}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}
