// SASS: nesting, var in mixins, functions
$base-color: rgb(77 153 231);

// [Kevin Powell Media Queries](https://www.youtube.com/watch?v=BvB8kSmgMcM)
@mixin theme($primary-color: $base-color, $font-color: #333, $font-size: 1rem) {
  background: $primary-color;
  color: $font-color;
  font-size: $font-size;
}

@mixin grid-layout($height, $rows: repeat(12, 1fr), $cols: repeat(12, 1fr)) {
  height: $height;
  display: grid;
  grid-template: $rows / $cols;
}

@mixin flex-layout(
  $height,
  $flex-direction: row,
  $flex-wrap: nowrap,
  $align-content: normal,
  $justify-content: normal,
  $align-items: normal
) {
  height: $height;
  display: flex;
  flex-flow: $flex-direction $flex-wrap;
  align-content: $align-content;
  justify-content: $justify-content;
  align-items: $align-items;
}

html,
body {
  height: 100vh;
  height: 100svh; //stays the same percentage no matter what
  margin: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #app {
    @include theme($base-color);
    @include grid-layout($height: 100%);

    .app-header {
      @include theme(#f1f1f1);
      grid-area: 1/1 / span 2 / span 12;

      @include flex-layout(
        96%,
        $justify-content: flex-start,
        $align-items: center
      );

      border-radius: 0px 0px 1rem 1rem;
      box-shadow: 0 0 1rem #333;

      &__logo {
        height: inherit;
      }
      &__time-input {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0.5em;
      }
    }
    .app-main {
      @include theme();
      grid-area: 3/1 / span 10 / span 12;

      display: grid;
      grid-template: repeat(12, 1fr) / repeat(12, 1fr);

      &__text {
        grid-area: 1/1 / span 4 / span 12;
      }
      &__flights {
        grid-area: 5/1 / span 8 / span 12;
        display: flex;
        flex-direction: column;
        background: transparent;
        box-shadow: 1px 0 1rem white;
        border-radius: 1rem 1rem 0rem 0rem;
        margin: 0rem 1rem;
      }
      // @include background($image: url(/assets/bg.avif));

      .app-main__flights {
        .active,
        .flight__summary--collapsible:hover {
          @include theme(#d4d4d4);
        }
        .flight__summary--collapsible {
          @include theme(#e7e7e7);
          width: 100%;
          border: none;
          padding: 1rem;
        }
        .flight__details {
          @include theme(#f1f1f1);
          padding: 0.5rem;
          display: grid;
          grid-template: 1fr/ 1fr 11fr;
        }
        .hide {
          display: none;
        }
      }

      .app-main__text {
        padding: 1rem 2rem;
      }

      .app-main__flights--hidden {
        visibility: hidden;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {...}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}
