@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Trirong", serif;
    font-size: 1rem;
  }
}

[aria-expanded="false"]::after {
  content: " +";
}

[aria-expanded="true"]::after {
  content: " -";
}
